.nav ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  font-size: 17px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0%;
  background-color: #000;
  border-bottom: 1px solid #60f;
  white-space:nowrap;
  min-width: 500px;
  z-index: 1
}

.nav li {
  float: right;
  display: inline-block
}

.nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 17px;
  text-decoration: none;
  border: 1px solid #60f;
  border-top: none;
  border-bottom: none;
  transition: .75s;
  
}

.active {
  background-color: #60f;
  
}

.nav li a:hover {
  background-color: #111;
  transition: .75s;
}

.nav li a:first-child{
  border-left: none;
}
.nav li a:last-child{
  border-right: none;
}


.goofycont {
  background-image: url(../logo.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  
  border: #000 solid 1px;
  border-radius: 15px;

  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  bottom:0%;
}



